<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body th:replace="~{plantillas/plantilla :: body (~{::contenido})}">
<div th:fragment="contenido">
    <main class="container text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <h1 th:text="${page}"></h1>
        <div class="login-container">
            <h2>Sesión Cerrada</h2>
            <p style="text-align:center; margin-bottom: 1.5rem;">Has cerrado sesión correctamente.</p>

            <a th:href="@{/'}">
                <button type="button">Volver al Inicio</button>
            </a>
        </div>
    </main>
</div>
</body>
</html>

