<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body th:replace="~{plantillas/plantilla :: body (~{::contenido})}">
<!-- Contenido adicional -->
<main class="container text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <h1 th:text="${page}"></h1>
    <div class="login-container">
        <h2>Cerrar Sesión</h2>
        <p>¿Estás seguro de que deseas cerrar sesión?</p>

        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn">Cerrar Sesión</button>
        </form>
    </div>
</main>
</body>
</html>

